/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #bde0fe;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul, ol {
    margin: 0 20px 20px 20px;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}

iframe {
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.align-left {
    margin: 20px 0;
    margin-left: 20px;
}

@media (max-width: 600px) {
    table, th, td {
        width: 100%;
        display: block;
        text-align: left;
    }

    ul, ol {
        margin-left: 10px;
        margin-right: 10px;
    }
}
